*{
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}


body{

    margin:0;

    background:#05070d;

    color:white;

}



header{

    padding:25px;

    text-align:center;

    background:#080d18;

    border-bottom:1px solid #00aaff;

}



header h1{

    color:#00aaff;

}



.container{

    width:90%;

    max-width:1100px;

    margin:auto;

    padding:30px;

}



.hero{

    text-align:center;

    padding:50px 20px;

}



.hero h2{

    font-size:35px;

    color:#00aaff;

}



.card{

    background:#0b1220;

    border:1px solid #16314d;

    border-radius:15px;

    padding:25px;

    margin:20px 0;

    box-shadow:0 0 15px #001f33;

}



.grid{

    display:grid;

    grid-template-columns:repeat(
        auto-fit,
        minmax(250px,1fr)
    );

    gap:20px;

}



.button{

    display:inline-block;

    background:#009dff;

    color:white;

    padding:12px 25px;

    border-radius:10px;

    text-decoration:none;

    border:none;

    cursor:pointer;

    font-weight:bold;

}



.button:hover{

    background:#00c3ff;

}



input,
textarea{

    width:100%;

    padding:15px;

    margin:10px 0;

    background:#05070d;

    color:white;

    border:1px solid #16314d;

    border-radius:10px;

}



textarea{

    min-height:120px;

}



.box{

    width:90%;

    max-width:450px;

    margin:100px auto;

    background:#0b1220;

    padding:30px;

    border-radius:15px;

    text-align:center;

}



pre{

    white-space:pre-wrap;

    color:#ddd;

    font-size:16px;

}



a{

    color:#00aaff;

}



.lesson-card{

    background:#0b1220;

    padding:20px;

    border-radius:15px;

}



.alert{

    background:#ff3333;

    padding:10px;

    border-radius:10px;

}



@media(max-width:600px){

    .container{

        padding:15px;

    }


    .hero h2{

        font-size:25px;

    }

}
