*{
    box-sizing:border-box;
}


body{

    margin:0;

    font-family:Arial, sans-serif;

    background:#05070d;

    color:white;

}



header{

    padding:25px;

    text-align:center;

    background:#080d18;

    border-bottom:1px solid #00aaff;

}



header h1{

    color:#00aaff;

    text-shadow:0 0 15px #00aaff;

}



.container{

    width:90%;

    max-width:1000px;

    margin:auto;

    padding:30px;

}



.card{

    background:#0b1220;

    border:1px solid #1b3858;

    border-radius:15px;

    padding:25px;

    margin-bottom:25px;

    box-shadow:0 0 20px rgba(0,150,255,0.15);

}



h2{

    color:#00aaff;

}



input,
textarea{

    width:100%;

    padding:14px;

    margin:10px 0;

    background:#05070d;

    color:white;

    border:1px solid #245078;

    border-radius:10px;

}



textarea{

    height:120px;

}



.button{

    display:inline-block;

    background:#00aaff;

    color:white;

    padding:12px 25px;

    border:none;

    border-radius:10px;

    text-decoration:none;

    cursor:pointer;

    margin-top:10px;

}



.button:hover{

    background:#0088cc;

}



pre{

    background:#020409;

    padding:15px;

    border-radius:10px;

    color:#00ff99;

}



hr{

    border:0;

    border-top:1px solid #24344d;

    margin:20px 0;

}
