<!DOCTYPE html>
<html lang="es">

<head>

<title>Academy AI</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header>

<h1>
🤖 Academy AI
</h1>

</header>



<div class="container">


<div class="card">


<h2>
Tu profesor de Roblox Studio
</h2>


<p>
Preguntas restantes hoy:
<b>{{ remaining }}</b>
</p>


<textarea 
id="question"
placeholder="Ejemplo: ¿Cómo hago un sistema de monedas en Roblox?"
></textarea>


<br><br>


<button 
class="button"
onclick="sendQuestion()"
>
Preguntar
</button>


</div>



<div class="card">


<h2>
Respuesta
</h2>


<pre id="answer">
Aquí aparecerá la respuesta de Academy AI...
</pre>


</div>



<a class="button" href="/">
Volver
</a>


</div>





<script>


async function sendQuestion(){


let question =
document.getElementById("question").value;



let answer =
document.getElementById("answer");



answer.innerHTML =
"Pensando...";



let response =
await fetch(
"/ai/chat",
{

method:"POST",

headers:
{
"Content-Type":"application/json"
},

body:
JSON.stringify(
{
question:question
}
)

}

);



let data =
await response.json();



if(data.answer){

answer.innerHTML =
data.answer;

}

else{

answer.innerHTML =
data.error;

}


}



</script>



</body>

</html>
