<!DOCTYPE html>
<html lang="es">

<head>
<title>Academy Blox Script</title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<header>
<h1>🔥 ACADEMY BLOX SCRIPT</h1>
</header>


<section class="hero">

<h2>Aprende Roblox Studio desde cero</h2>

<p>
Usuario conectado:
<b>{{user["email"]}}</b>
</p>


{% if user["admin"] %}

<a class="button" href="/admin">
Panel Administrador
</a>

{% endif %}


<a class="button" href="/ai">
Academy AI
</a>

</section>



<div class="container">


<h2>Lecciones</h2>


<div class="grid">


{% for lesson in lessons %}

<div class="card">

<h3>
{{lesson.title}}
</h3>


<p>
{{lesson.description}}
</p>


<a class="button"
href="/lesson/{{loop.index}}">
Entrar
</a>

</div>


{% endfor %}


</div>


<br>

<form action="/logout">

<button class="button">
Cerrar sesión
</button>

</form>


</div>


</body>
</html>
