<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Academy Blox Script</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>ACADEMY BLOX SCRIPT</h1>
</header>


<section>

    <h2>
        Bienvenido a Academy Blox Script
    </h2>


    <p>
        Usuario conectado:
        {{ user["email"] }}
    </p>


    <h2>
        Lecciones
    </h2>


    {% for lesson in lessons %}

    <div>

        <h3>
            {{ lesson["title"] }}
        </h3>

        <p>
            {{ lesson["description"] }}
        </p>

    </div>

    {% endfor %}


    <br>

    <a href="/logout">
        Cerrar sesión
    </a>


</section>


</body>

</html>
