<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Academy Blox Script</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<header>

<div class="logo">
🔥 ACADEMY BLOX SCRIPT 🔥
</div>

</header>



<section class="hero">

<p class="blue">
ACADEMY ONLINE
</p>


<h1>
ACADEMY
<span class="blue">
BLOX SCRIPT
</span>
</h1>


<p>
Aprende a programar en Roblox Studio
desde cero y crea tus propias experiencias.
</p>


<br>


<p>
Sesión iniciada como:
<strong>
{{ user["email"] }}
</strong>
</p>



{% if user["admin"] == 1 %}

<br>

<a class="button" href="/admin">
PANEL ADMINISTRADOR
</a>

{% endif %}


<br><br>


<a class="button" href="/ai">
ACADEMY AI
</a>


</section>




<section class="lessons">


<h2>
Tus lecciones
</h2>


<div class="lesson-grid">


{% for lesson in lessons %}


<div class="card">


<h3>
LECCIÓN {{ loop.index }}
</h3>


<h2>
{{ lesson["title"] }}
</h2>


<p>
{{ lesson["description"] }}
</p>



</div>


{% endfor %}


</div>


<br>


<form action="/logout">

<button class="button">
CERRAR SESIÓN
</button>

</form>



</section>



<footer>

Academy Blox Script © 2026

</footer>


</body>

</html>
