<!DOCTYPE html>
<html>

<head>
<title>Login</title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>


<body>


<div class="box">

<h1>
Academy Blox Script
</h1>


<form method="POST">

<input name="email"
placeholder="Correo"
required>


<input name="password"
type="password"
placeholder="Contraseña"
required>


<button class="button">
Entrar
</button>


</form>


<a href="/register">
Crear cuenta
</a>


</div>


</body>
</html>
